<div lang="sr">
  <header class="col-12 d-flex align-items-start justify-content-end flex-wrap m-0 p-0">
      <div class="headertitle parallax">
        <span>WEB ПРЕЗЕНТАЦИЈА</span><br/>
        <h1>ДОМА ЗДРАВЉА МОДРИЧА</h1>
        <p>ЈАВНА ЗДРАВСТВЕНА УСТАНОВА ПРИМАРНОГ НИВОА</p>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light w-100 bg-light">
        <a class="navbar-brand" href=""><img src="" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="dropdown-item" href="#onama">O нама</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#kontakt">Контакт</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="/FAJLOVI/raspored porodicna.docx">Распоред</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" ng-click="pokaziPatcir()" >Патронажа</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" href="#galerija">Галерија</a>
            </li>
            <li class="nav-item bg-dark ">
              <a class="dropdown-item text-light" href="laboratorija/index.html">e-налаз</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="zigzag parallax">
        <span></span>
        <span></span>
        <span></span>
        
      </div>
  </header>
    <!-- body -->
    <div class="newssection w-100 d-flex justify-content-start align-items-center" id="novosti">
      <div class="news row no-gutters row-eq-height mx-auto">
        <div class="naslovnajnovije d-flex flex-nowrap align-items-center">НАЈНОВИЈЕ <i class="fas fa-caret-right"></i></div>
        <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti1cir()">
          <div class="newscardimg img1"></div>
          <div class="newstxt">
            <h4>ПРОЈЕКАТ</h4>
            <small>Пројектом превенције колоректалног карцинома у Модричи и Вукосављу биће обухваћено 500 особа.</small>
          </div>
        </div>
        <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti2cir()">
          <div class="newscardimg img2 "></div>
          <div class="newstxt">
            <h4>AКЦИЈА</h4>
            <small>Предавања и радионице за школарце поводом Свјетског дана АИДСа, у Српском културном центру. </small>
          </div>
        </div>
        <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti3cir()">
          <div class="newscardimg img3"></div>
          <div class="newstxt">
            <h4>ДИЈАБЕТЕС</h4>
            <small>Свјетског дана дијабетеса на три локације уз бесплатно мјерење шећера у крви. Предавања у школама. </small>
          </div>
        </div>
        <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti4cir()">
          <div class="newscardimg img4"></div>
          <div class="newstxt">
            <h4>ПРЕВЕНЦИЈА</h4>
            <small>Услуга превентивних прегледа на служби за превенцију. Закажите свој термин!</small>
          </div>
        </div>
      </div>
    </div>
  <div class="onama col-12 d-flex flex-wrap justify-content-center align-items-center" id="onama">
      <div class="col-12 d-flex align-items-center justify-content-center dvalijevo">
        <div class="txtarea">
          <span class="ivice ivica1"></span>
          <span class="ivice ivica2"></span>
          <span class="ivice ivica3"></span>
          <span class="ivice ivica4"></span>
          <h2>O ДОМУ ЗДРАВЉА МОДРИЧА</h2>
          <h4>Информишите се о нашим циљевима, мисији и услугама</h4>
          <p>Дом здравља Модрича је јавна здравствена установа примарног нивоа. Покрива здравственом услугом становништво двије општине: Модриче и Вукосавље, што је око 37.000 становника. У склопу установе организован је рад служби породичне медицине, хитне службе, радиолоше дијагностике, гинекологије, педијатрије, лабораторије, стоматолошке и епидемиолошке службе. Поред ових служби, организовани су и центри базичне рехабилитације и менталног здравља. Циљ и задатак Дома здравља је унапређење здравља, превенција болести и едукација становништва. У овоме учествује 14 љекара породичне медицине, два гинеколога, два педијатра, психијатар, физијатар, спец. ургентне медицине, два пулмолога, три стоматолога и један епидемиолог са тимом медицинских сестара и техничара. </p>
          <p>Циљ у наредном периоду, који је управа ДЗ Модрича себи поставила, јесте да кроз оптимизацију броја медцинског кадра и прилагођавање простора и опреме потребама општина, побољша и настави унапређивати квалитет здравствене заштите. Креирање ове WЕВ презентације један је од корака према самом кориснику услуга ДЗ Модриче, да лакше стигне до потребних информација.</p>
          <p>У наредних 6 мјесеци, у плану је да се сви налази урађени у лабораторији Дома здравља Модрича, могу погледати на wеб страници, исти преузети и одштампати у приватности дома самог пацијента. Надамо се Вашем разумијевању, стрпљењу и подршци.</p>
          <span class="float-right text-right d-flex justify-content-end flex-wrap pr-5">Дарко Стефановић, дипл. екон. <br/> директор<div class="paraf"></div>
          </span>
        </div>
      </div>
  </div>
  <div class="porodicna col-12 d-flex w-100 h-100 justify-content-center align-items-center" id="porodicna">
    <div class="porodicnacontent d-flex w-100 h-100 justify-content-lg-center justify-content-md-center justify-content-center justify-content-sm-start align-items-start flex-wrap">
      <div class="naslov d-flex justify-content-center align-items-center "><h2>ПОРОДИЧНА МЕДИЦИНА</h2><h4>сазнајте све о смјенама, распореду рада Вашег љекара, како се наручити</h4></div>
      <div class="oporodicnoj">
        <h2>O Служби породичне медицине</h2>
        <h4>Сазнајте како је организована служба породичне медицине</h4>
        <p class="text-justify">Породична медицина је замишљена кроз тимове са једним љекаром и једном до двије медицинске сестре. У оваквом једном тиму се лијечи око 2000 становника старијих од 6 година.
            Процедурама Дома здравља Модрича, предвиђен је систем наручивања у тимовима за услуге које нису хитне: подизање упутница, рецепата, редовне контроле и сл. За хитна стања, дефинисана
            Законом о здрваственој заштити, не постоји систем наручивања, те се таква стања збрињавају одмах по јављању љекару имајући у виду ред хитности који процјењује медицинска сестра тима/техничар. 
            У ДЗ Модрича постоји 14 регистрованих тимова, од којих су два тима са пола фонда (око 1000 регистрованих пацијената). Служба породичне медицине је организована у двије смјене, при чему сваки тим се ротира у смјенама,
            те сваку 5. седмицу ради ИИ смјену. Сваки пацијент има свог породичног љекара и замјенског љекара, који је дужан прегледати пацијента (уколико је хитан), у одсуству породичног доктора. 
            У склопу породичне медицине раде и секторске амбуланте Милошевац, Врањак и Дуго Поље у које љекар долази сваке сриједе. Распоред долазака љекара у секторску амбуланту можете скинути на страници важни документи. 
        </p>
        <span>др Бојана Дробњак<br/> начелник породичне медицине</span>
      </div>
      <div class="col-12 col-lg-10 raspored d-flex justify-content-center align-items-center flex-wrap">
          <DIV class="d-lg-flex d-block flex-nowrap align-items-end col-12 zaglavlje">
              <div class="col-lg-3 col-12">ТИМ</div>
              <div class="col-lg-3 col-12">ЉЕКАР</div>
              <div class="col-lg-3 col-12">МЕДИЦИНСКА СЕСТРА/ТЕХНИЧАР</div>
              <div class="col-lg-3 col-12">ПАУЗА У I/II СМЈЕНИ</div>
          </DIV>
        <ul  class="col-12 tablepor d-flex justify-content-center align-items-center flex-wrap">
          <li class="row-lg d-block d-lg-flex col-12">
            <div class="col-lg-3 col-12"><b>тим I</b></div>
            <div class="col-lg-3 col-12">др Горан Предојевић</div>
            <div class="col-lg-3 col-12">Милица Ставић/Немања Елек</div>
            <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"><b>тим II</b></div>
              <div class="col-lg-3 col-12">др Драгољуб Ђурић</div>
              <div class="col-lg-3 col-12">Рада Странатић/Радојка Стевановић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"><b>тим III</b></div>
              <div class="col-lg-3 col-12">др Бојана Дробњак</div>
              <div class="col-lg-3 col-12">Јованка Лукић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим IV</b> </div>
              <div class="col-lg-3 col-12">др Слободанка Симић</div>
              <div class="col-lg-3 col-12">Рада Гостић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим V</b> </div>
              <div class="col-lg-3 col-12">др Слободан Бурић</div>
              <div class="col-lg-3 col-12">Јелена Мршић/Јованка Мартић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"><b>тим VI</b> </div>
              <div class="col-lg-3 col-12">др Свјетлана Пантелић</div>
              <div class="col-lg-3 col-12">Јасминка Кресоја</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим VIII</b> </div>
              <div class="col-lg-3 col-12">др Божица Јовић</div>
              <div class="col-lg-3 col-12">Слађана Стојановић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим IX</b> </div>
              <div class="col-lg-3 col-12">др Биљана Големовић</div>
              <div class="col-lg-3 col-12">Мира Максимовић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим X</b> </div>
              <div class="col-lg-3 col-12">др Драган Елек</div>
              <div class="col-lg-3 col-12">Силвестер Мијатовић/Новак Симић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим XI</b> </div>
              <div class="col-lg-3 col-12">др Гордана Кнежевић</div>
              <div class="col-lg-3 col-12">Сњежана Пурић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим XII</b> </div>
              <div class="col-lg-3 col-12">др Радојка Савић</div>
              <div class="col-lg-3 col-12">Весна Стефановић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим XIII</b> </div>
              <div class="col-lg-3 col-12">др Драган Драгић</div>
              <div class="col-lg-3 col-12">Сњежана Ђурић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим XIV</b> </div>
              <div class="col-lg-3 col-12">др Дијана Хасељић</div>
              <div class="col-lg-3 col-12">Данијела Грбић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
          <li class="row-lg d-block d-lg-flex col-12">
              <div class="col-lg-3 col-12"> <b>тим XV</b> </div>
              <div class="col-lg-3 col-12">др Срђан Давидовић</div>
              <div class="col-lg-3 col-12">Саво Деспотовић</div>
              <div class="col-lg-3 col-12">пауза 10.00-10.30 (I смјена)<br>15.00-15.30 (II смјена)</div>
          </li>
        </ul>
      </div>
      <div class="prikaz"><a title="klikni za raspored po timovima" href="./FAJLOVI/raspored porodicna.docx"><b>приказ детаљног распореда</b></a></div>
    </div>
    
  </div>
  <div class="hitna d-flex flex-wrap justify-content-center align-items-center" id="hsluzba">
    <div class="opis d-flex flex-wrap justify-content-center align-items-center">
      <div class="hcentar d-flex flex-wrap justify-content-center align-items-center">
        <div class="hitnaback d-flex justify-content-center align-items-center px-3">
          <b>ХИТНА СЛУЖБА</b>  &nbsp;&nbsp;<i class="fas fa-phone"></i>:<b>124</b>
        </div>
      </div>
    </div>
    <div class="ohitnoj d-block" ng-class="vise ? 'prosiri' : ''">
      <h3>O СЛУЖБИ ХИТНЕ МЕДИЦИНСКЕ ПОМОЋИ</h3>
      <p>Служба хитне медицинске помоћи 24 часа дневно пружа медицинску помоћ витално угроженим или повријеђеним пацијентима на подручју општине Модрича и Вукосавље. То је служба од посебног друштвеног значаја у редовним и ванредним ситуацијама.

        Посебан значај хитне медицинске помоћи се угледа у пружању неопходне и неодложне медицинске интервенције оним пацијентима којима би се значајно угрозило здравље или живот у случају непружања медицинске помоћи.
        
        Хитна медицинска помоћ се пружа на мјесту несреће/обољевања, у току примарног транспорта и у служби хитне медицинске помоћи.
        
        Хитна помоћ захтјева тимски рад, те захтјева координацију свих чланова тима, нарочито у најургентнијим стањима која захтјевају реанимацију пацијента. Тим сачињава љекар, две медицинске сестре/техничара и возач санитетског возила. Љекар у служби хитне медицинске помоћи обавља преглед, дијагностичке поступке који су му на располагању, одређује иницијалну терапију те, по потреби упућује пацијента у здравствену установу вишег рефералног нивоа (Општа болница „Свети Апостол Лука“ Добој). Уколико је пацијент животно угрожен у јасно дефинисаним индикацијама транспорт пацијента се врши санитетским возилом уз надзор медицинског техничара.
    Служба хитне медицинске помоћи располаже ЕКГ апаратом, монитором за праћење виталних параметара, дефибрилатором, аспиратором, прибором за реанимацију, сетом за мале хируршке интервенције, имобилизационим средствима, инхалатором, глукометром, манометром, стетоскопом, отоскопом, те опремом и лијековима за парентералну употребу.</p>
     <p> Возни парк Службе хитне медицинске помоћи чини 4 санитетска возила са медицинском опремом за пружање ургентне медицинске помоћи. Санитетски превоз се обавља за: витално угрожене пацијенте по јасно дефинисаним индикацијама, потом превоз непокретних пацијентата на контролне прегледе, превоз пацијената из Службе породичне медицине по налогу породичног љекара те превоз пацијената на хемодијализу у Хемодијализни центар Шамац.

        Служба обавља и санитетско обезбјеђење на спортским, културним, политичким и другим масовним манифестацијама гдје се очекује присуство великог броја људи.</p>
      <span class="float-right ml-auto">др Драган Елек, <br/> начелник СХМП</span>
      
    </div>
    <button ng-click="vise=!vise"> <span ng-if="!vise">више</span>  <span ng-if="vise">maње</span> &nbsp; <i ng-hide="vise" class="fas fa-chevron-down"></i><i ng-show="vise" class="fas fa-chevron-up"></i></button>
  </div>
  <div class="hitnastanja">
    <span></span>
    <div class="stanje">
      <div class="divica"></div>
      <div class="doivica"></div>
      <h3>ПРВИ РЕД ХИТНОСТИ</h3>
      <p>Сва стања без свијести<br/>

        Престанак дисања<br/>
        
        Одсуство пулса<br/>
        
        Нагло настало отежано дисање<br/>
        
        Нагло настао јак бол у грудима<br/>
        
        Нагло настао јак бол у трбуху<br/>
        
        Нагло настао неуролошки дефицит, једнострана одузетост екстремитета и немогућност говора<br/>
        
        Опсежна крварења из великих крвних судова
      </p>
    </div>
    <div class="stanje">
      <div class="divica"></div class="">
      <div class="doivica"></div>
      <h3>ДРУГИ РЕД ХИТНОСТИ</h3>
      <P>Погоршања која се односе на сва хронична стања по системима<br/>

        Хронична опструктивна плућна обољења<br/>

        Хипертензивна стања<br/>

        Интензивне главобоље<br/>

        Психијатријска стања<br/>

        Отворене и затворене повреде без израженог поремећаја свијести и без компромитованог дисања<br/>

        Остала стања
      </P>
    </div>
    <div class="stanje">
      <div class="divica"></div>
      <div class="doivica"></div>
      
      <h3>ТРЕЋИ РЕД ХИТНОСТИ</h3>
      <p>
        Лако обољели и повријеђени чија су обољења и повреде лакше природе, не ремете виталне функције и код којих није потребна хитна медицинска помоћ већ се може одложити прослеђивањем надлежном породичном љекару.
      </p>
    </div>
  </div>
  <div class="section2" id="sluzbe">
        <div class="sec2cardholder d-flex justify-content-center align-items-center flex-wrap">
          <div class="w-100 text-center sec2naslov"><h3>СЛУЖБЕ ДОМА ЗДРАВЉА МОДРИЧА</h3><br/><h4>сазнајте најважније информације о осталим службама у дому здравља</h4></div>
          <div class="d-block">
            <div class="redkartica d-flex flex-xl-nowrap flex-lg-wrap justify-content-center flex-wrap cardwrap">
              <div class="sec2card d-block" ng-click="pokaziLabcir()">
                <div class="img img1"></div>
                <div class="txt p-3 d-block">
                  <h3 class="text-center" >ЛАБОРАТОРИЈСКА ДИЈАГНОСТИКА</h3>
                  <div class="cover"></div>
                  <p>Лабораторија је савремено опремљена служба, која пружа услуге обављања бројних анализа крви, урина, столице. Покрива све анализе које предвиђа ФЗО, али и оне које не подлијежу осигурању. Погледајте списак анализа. </p>
                </div>
              </div>
              <div class="sec2card d-block">
                <div class="img img2"></div>
                <div class="txt p-3 d-block">
                  <h3 class="text-center">СЛУЖБА ЗА РТГ ДИЈАГНОСТИКУ</h3>
                  <div class="cover"></div>
                  <p>Ова служба обавља РТГ снимања костију, плућа, абдомена. Ради у једној смјени од 7.00 до 19.00. Овдје раде два рендген-техничара. За сада се снимци израђују на филму, а у плану је дигитализација РТГ службе.</p>
                </div>
              </div>
              <div class="sec2card d-block">
                <div class="img img3"></div>
                <div class="txt p-3 d-block">
                  <h3 class="text-center">СЛУЖБА ЗА ГИНЕКОЛОГИЈУ</h3>
                  <div class="cover"></div>
                  <p><b>Гинеколози:</b> др Вељко Деспотовић, др Горан Млинаревић<br/>
                    <b>Сестре акушерке:</b> <br/>
                    <b>Радно вријеме:</b> 7.00-15.00<br/>
                    <b>Teл:</b> 065/017-830
                  </p>
                </div>
            </div>
            </div>
            <div class="redkartica d-flex flex-xl-nowrap flex-lg-wrap justify-content-center flex-wrap cardwrap">
              <div class="sec2card d-block" ng-click="pokaziStomcir()">
                <div class="img img4"></div>
                <div class="txt p-3 d-block">
                  <h3 class="text-center">СЛУЖБА ЗА СТОМАТОЛОГИЈУ</h3>
                  <div class="cover"></div>
                  <p><b>Стоматолози:</b> др Жана Тољ, др Мишо Марјановић<br/>
                    <b>Радно вријеме:</b> прва (7.00-15.00), друга (11.00-19.00)<br/>
                    <b>Тел:</b> - 066/698-143
                  </p>
                </div>
              </div>
              <div class="sec2card d-block" ng-click="pokaziPedcir()">
                  <div class="img img5"></div>
                  <div class="txt p-3 d-block">
                    <h3 class="text-center">СЛУЖБА ЗА ПЕДИЈАТРИЈУ</h3>
                    <div class="cover"></div>
                    <p>
                      
                      <b>Педијатри:</b> др Боја Лугоња, др Гордана Кнежевић<br/>
                      <b>Радно вријеме:</b> прва (7.00-15.00), друга (15.00-19.00)<br/>
                      <b>Тел:</b> 053/813-674
                    </p>
                  </div>
              </div>
              <div class="sec2card d-block" ng-click="pokaziHescir()">
                <div class="img img6"></div>
                <div class="txt p-3 d-block">
                  <h3 class="text-center">ХИГИЈЕНСКО-EПИД- ЕМИОЛОШКА СЛУЖБА</h3>
                  <div class="cover"></div>
                  <p>
                    У ХЕСу се обављају послови из области епидемиологије, имунизације, те санитарни прегледи. <BR/>
                    <b>Епидемиолог:</b> др Слободанка Симић<br/>
                    <b>Санитарни прегледи:</b> сриједом - прва (12.00-14.30), друга (15.30-18.00)<br/>
                    <b>Тел:</b> 053/811-801
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="vaznidokumenti d-flex justify-content-center align-items-center flex-wrap" id="raspored">
    <div class="centriwrapper d-flex flex-wrap w-100 justify-content-xl-start justify-content-center align-items-center">
      <div class="vazno d-flex flex-wrap justify-content-center">
        <div class="naslov1">ЦЕНТРИ</div>
        <div class="podnaslov1">ДЗ МОДРИЧА</div>
      </div>
      <div class="centricard d-block" ng-click='nema=!nema'>
        
        <div class="cbrimage"></div>
        <div class=" centriopis">
          <h3>ЦБР</h3>
          <p>центар за базичну рехабилитацију</p>
        </div>
      </div>
      <div class="desniopis" ng-class="nema ? 'active' : ''">
        <p>
          Физикална медицина и рехабилитација грана је медицине која се бави превенцијом, дијагнозом и лијечењем различитих поремећаја организма, а при томе се користи физикалним методама. Посебну позорност посвећује поновној успостави изгубљених функција и способности (рехабилитација) или оспособљавању ако те функције никако нису постојале (хабилитација). Физијатрија се бави цијелим низом болести, неуролошких, мишићно-коштаних, кардиоваскуларних, плућних до једноставних поремећаја покретљивости до комплексних когнитивних поремећаја.
        </p>
        <button ng-click="pokaziCbrcir()">више</button>
      </div>
      <div class="centricard row-lg d-block d-lg-flex d-sm-flex d-md-flex">
          <div class="cmzimage"></div>
          <div class="centriopis">
            <h3>ЦМЗ</h3>
            <p>центар за ментално здравље</p>
          </div>
        </div>
    </div>
    <div class="d-flex w-100 flex-wrap justify-content-xl-end justify-content-center align-items-center" id="vazno">
      <div class="vazno d-flex  flex-wrap justify-content-center">
        <div class="naslov">ВАЖНИ</div>
        <div class="podnaslov">ДОКУМЕНТИ</div>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="./FAJLOVI/raspored porodicna.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>Распоред- породична</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/cjenovnik lab.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>Цјеновник услуга- ЛАБ</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/brojevi telefona.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>Бројеви телефона служби</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/usluge-lab.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>Услуге лабораторија</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/hitna stanja.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>хитна стања- списак</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/cjenovnik porodična.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>цјеновник услуга- ПМ</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/cjenovnik zubno.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>Цјеновник услуга- зубно</span>
        </a>
      </div>
      <div class="folder d-flex flex-wrap justify-content-center align-items-center">
        <a href="/FAJLOVI/raspored pedijatrija.docx">
          <div><i class="fas fa-file-word fa-7x"></i></div>
          <span>Распоред педијатрија</span>
        </a>
      </div>
      <div class="iza"></div>
    </div>
    
      
  </div>
  <div class="szp d-flex justify-content-center align-items-center flex-wrap w-100 h-auto">
    <div class="szpnaslov d-block">
      <h3>СЛУЖБА ЗАЈЕДНИЧКИХ ПОСЛОВА</h3>
    </div>
    <div class="cetiriwrapper d-flex flex-wrap justify-content-center align-items-start">
      <div class="d-block p-5 m-0 cetirisekcije">
        <p>Служба заједничких послова је једна од организационих јединица ЈЗУ Дом здравља Модрича. Чини је немедицински кадар наше установе. Ова служба обезбјеђује неопходну стручну и оперативну подршку за функционисање установе. </p>
        
      </div>
      <div class="d-block p-5 m-0 cetirisekcije">
        <p>Служба заједничких послова је организована за обављање административних, правних, кадровских послова, послова информационих технологија, послова финансијског и материјалног књиговодства, обрачуна зарада радника, благајничког пословања и фактурисања, послова одржавања, гријања, обезбјеђења, транспорта и послова вешераја и чишћења.</p>
        
      </div>
      <div class="d-block p-5 m-0 cetirisekcije">
        <p> <h3><b>Службу заједничких послова чине:</b></h3>  <br/>

          Одсијек за опште, правне и кадровске послове<br/>
          
          Одсијек за рачуноводство, финансије и књиговодство<br/>
          
          Одсијек за услужно техничке послове<br/>
          
          Одсијек за транспорт</p>
        
      </div>
    </div>
  </div>
  <div class="galerija w-100 d-flex justify-content-center" id="galerija">
    <div class="galerijawrapper d-flex justify-content-center align-items-center">
      <div class="imgcontainer d-flex justify-content-center flex-wrap">
        <div class="imgcircle img1"><a href="/resursi/gal1.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img2"><a href="/resursi/gal2.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img3"><a href="/resursi/gal3.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img4"><a href="/resursi/gal4.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img5"><a href="/resursi/gal5.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img6"><a href="/resursi/gal6.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img7"><a href="/resursi/gal7.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img8"><a href="/resursi/gal8.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img9"><a href="/resursi/gal9.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img10"><a href="/resursi/gal10.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img11"><a href="/resursi/gal11.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
        <div class="imgcircle img12"><a href="/resursi/gal12.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
      </div>
    </div>
  </div>
    <!-- footer -->
    <footer class="w-100 d-flex flex-wrap justify-content-center" id="kontakt">
      <a href="https://www.facebook.com/jzudzmodrica/" target="_blank"><i class="fab fa-facebook facebook fa-3x"> </i></a>
      <div class="col-12 d-flex justify-content-center align-items-center mb-5 flex-wrap">
        <div class="m-1 d-flex align-items-center justify-content-center flex-xl-nowrap flex-lg-nowrap flex-wrap kontakt col-12">
          <div class="uprava col-lg-6 col-12 d-flex align-items-center justify-content-center flex-wrap">
            <div class="upravacard d-block">
              <div class="slika slika1"></div><p>директор <br/>Дарко Стефановић</p>
            </div>
            <div class="upravacard d-block ">
              <div class="slika slika2 "></div><p>секретарица<br/>Госпава Старчевић</p>
            </div>
            <div class="upravacard d-block">
              <div class="slika slika3"></div><p>главна сестра<br/>Сара Стефановић</p>
            </div>
            <div class="radnouprava d-block">
              <h3>РАДНО ВРИЈЕМЕ УПРАВЕ</h3>
              <p>7.00-15.00</p>
            </div>
          </div>
          
          <div class="d-flex lijevo align-items-center justify-content-center col-lg-6 col-12 flex-wrap">
            <div class="row d-flex justify-content-start ml-3 align-items-center w-100">
              <h3><i class="fas fa-envelope-open"></i>:</h3>
              <p>Светосавска 15, 74480 Модрича</p>
            </div>
            <div class="row d-flex justify-content-start ml-3 align-items-center w-100">
              <h3><i class="fas fa-phone-square"></i>:</h3>
              <p>053.813.722, fax: 053/821-661</p>
            </div>
            <div class="row d-flex justify-content-start ml-3 align-items-center w-100">
              <h3><i class="fas fa-at"></i>:</h3>
              <p>dzmod1@teol.net</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 copyr d-flex justify-content-center align-items-center">
        Copyright DZ Modrica 2019.
        <div class="linkovifooter w-100 d-flex justify-content-end">
            <div class="linkbtn"> <a href="#onama">О НАМА</a> </div>
            <div class="linkbtn"> <a href="#porodicna">ПОРОДИЧНА</a> </div>
            <div class="linkbtn"> <a href="#hsluzba">ХИТНА СЛУЖБА</a> </div>
            <div class="linkbtn"> <a href="#vazno">ВАЖНИ ДОКУМЕНТИ</a> </div>
            <div class="linkbtn"> <a href="laboratorija/index.html">E-НАЛАЗ</a> </div>
            <div class="linkbtn"> <a href="#novosti">НОВОСТИ</a> </div>
            <div class="linkbtn" ng-click="pokaziPatcir()">ПАТРОНАЖНА СЛУЖБА</div>
          </div>
        </div>                                                                                                                   
    </footer>
</div>