<div lang="hr">
    <header class="col-12 d-flex align-items-start justify-content-end flex-wrap m-0 p-0">
          <div class="headertitle parallax">
            <span>WEB PREZENTACIJA</span><br/>
            <h1>DOMA ZDRAVLJA MODRIČA</h1>
            <p>javna zdravstvena ustanova primarnog nivoa</p>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light w-100 bg-light">
            <a class="navbar-brand" href=""><img src="" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
              
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="dropdown-item" href="#onama">O nama</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="#kontakt">Kontakt</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="/FAJLOVI/raspored porodicna.docx">Raspored</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" ng-click="pokaziPat()" >Patronaža</a>
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="#galerija">Galerija</a>
                </li>
                <li class="nav-item bg-dark ">
                  <a class="dropdown-item text-light" href="laboratorija/index.html">e-nalaz</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="zigzag parallax">
            <span></span>
            <span></span>
            <span></span>
            
          </div>
      </header>
        <!-- body -->
        <div class="newssection w-100 d-flex justify-content-start align-items-center" id="novosti">
          <div class="news row no-gutters row-eq-height mx-auto">
            <div class="naslovnajnovije d-flex flex-nowrap align-items-center">NAJNOVIJE <i class="fas fa-caret-right"></i></div>
            <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti1()">
              <div class="newscardimg img1"></div>
              <div class="newstxt">
                <h4>PROJEKAT</h4>
                <small>Projektom prevencije kolorektalnog karcinoma u Modrici i Vukosavlju biće obuhvaćeno 500 osoba.</small>
              </div>
            </div>
            <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti2()">
              <div class="newscardimg img2 "></div>
              <div class="newstxt">
                <h4>AKCIJA</h4>
                <small>Predavanja i radionice za školarce povodom Svjetskog dana AIDSa, u Srpskom kulturnom centru </small>
              </div>
            </div>
            <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti3()">
              <div class="newscardimg img3"></div>
              <div class="newstxt">
                <h4>DIJABETES</h4>
                <small>Svjetskog dana dijabetesa na tri lokacije uz besplatno mjerenje šećera u krvi. Predavanja u školama. </small>
              </div>
            </div>
            <div class="newscard flex-wrap d-flex align-items-center m-auto" ng-click="pokaziVijesti4()">
              <div class="newscardimg img4"></div>
              <div class="newstxt">
                <h4>PREVENCIJA</h4>
                <small>Usluga preventivnih pregleda na službi za prevenciju. Zakažite svoj termin!</small>
              </div>
            </div>
          </div>
        </div>
      <div class="onama col-12 d-flex flex-wrap justify-content-center align-items-center" id="onama">
          <div class="col-12 d-flex align-items-center justify-content-center dvalijevo">
            <div class="txtarea">
              <span class="ivice ivica1"></span>
              <span class="ivice ivica2"></span>
              <span class="ivice ivica3"></span>
              <span class="ivice ivica4"></span>
              <h2>O DOMU ZDRAVLJA MODRIČA</h2>
              <h4>Informišite se o našim ciljevima, misiji i uslugama</h4>
              <p>Dom zdravlja Modriča je javna zdravstvena ustanova primarnog nivoa. Pokriva zdravstvenom uslugom stanovništvo dvije opštine: Modriče i Vukosavlje, što je oko 37.000 stanovnika. U sklopu ustanove organizovan je rad službi porodične medicine, hitne službe, radiološe dijagnostike, ginekologije, pedijatrije, laboratorije, stomatološke i epidemiološke službe. Pored ovih službi, organizovani su i centri bazične rehabilitacije i mentalnog zdravlja. Cilj i zadatak Doma zdravlja je unapređenje zdravlja, prevencija bolesti i edukacija stanovništva. U ovome učestvuje 14 ljekara porodične medicine, dva ginekologa, dva pedijatra, psihijatar, fizijatar, spec. urgentne medicine, dva pulmologa, tri stomatologa i jedan epidemiolog sa timom medicinskih sestara i tehničara. </p>
              <p>Cilj u narednom periodu, koji je uprava DZ Modriča sebi postavila, jeste da kroz optimizaciju broja medcinskog kadra i prilagođavanje prostora i opreme potrebama opština, poboljša i nastavi unapređivati kvalitet zdravstvene zaštite. Kreiranje ove WEB prezentacije jedan je od koraka prema samom korisniku usluga DZ Modriče, da lakše stigne do potrebnih informacija.</p>
              <p>U narednih 6 mjeseci, u planu je da se svi nalazi urađeni u laboratoriji Doma zdravlja Modriča, mogu pogledati na web stranici, isti preuzeti i odštampati u privatnosti doma samog pacijenta. NAdamo se Vašem razumijevanju, strpljenju i podršci.</p>
              <span class="float-right text-right d-flex justify-content-end flex-wrap pr-5">Darko Stefanović, dipl. ek. <br/> direktor <div class="paraf"></div>
              </span>
            </div>
          </div>
      </div>
      <div class="porodicna col-12 d-flex w-100 h-100 justify-content-center align-items-center" id="porodicna">
        <div class="porodicnacontent d-flex w-100 h-100 justify-content-lg-center justify-content-md-center justify-content-center justify-content-sm-start align-items-start flex-wrap">
          <div class="naslov d-flex justify-content-center align-items-center "><h2>PORODIČNA MEDICINA</h2><h4>saznajte sve o smjenama, rasporedu rada Vašeg ljekara, kako se naručiti</h4></div>
          <div class="oporodicnoj">
            <h2>O Službi porodične medicine</h2>
            <h4>Saznajte kako je organizovana služba porodične medicine</h4>
            <p class="text-justify">Porodična medicina je zamišljena kroz timove sa jednim ljekarom i jednom do dvije medicinske sestre. U ovakvom jednom timu se liječi oko 2000 stanovnika starijih od 6 godina.
              Procedurama Doma zdravlja Modriča, predviđen je sistem naručivanja u timovima za usluge koje nisu hitne: podizanje uputnica, recepata, redovne kontrole i sl. Za hitna stanja, definisana
              Zakonom o zdrvastvenoj zaštiti, ne postoji sistem naručivanja, te se takva stanja zbrinjavaju odmah po javljanju ljekaru imajući u vidu red hitnosti koji procjenjuje medicinska sestra tima/tehničar. 
              U DZ Modriča postoji 14 registrovanih timova, od kojih su dva tima sa pola fonda (oko 1000 registrovanih pacijenata). Služba porodične medicine je organizovana u dvije smjene, pri čemu svaki tim se rotira u smjenama,
              te svaku 5. sedmicu radi II smjenu. Svaki pacijent ima svog porodičnog ljekara i zamjenskog ljekara, koji je dužan pregledati pacijenta (ukoliko je hitan), u odsustvu porodičnog doktora. 
              U sklopu porodične medicine rade i sektorske ambulante Miloševac, Vranjak i Dugo Polje u koje ljekar dolazi svake srijede. Raspored dolazaka ljekara u sektorsku ambulantu možete skinuti na stranici važni dokumenti. 
            </p>
            <span>dr Bojana Drobnjak <br/> načelnik porodične medicine</span>
          </div>
          <div class="col-12 col-lg-10 raspored d-flex justify-content-center align-items-center flex-wrap">
              <DIV class="d-lg-flex d-block flex-nowrap align-items-end col-12 zaglavlje">
                  <div class="col-lg-3 col-12">TIM</div>
                  <div class="col-lg-3 col-12">LJEKAR</div>
                  <div class="col-lg-3 col-12">MEDICINSKA SESTRA/TEHNIČAR</div>
                  <div class="col-lg-3 col-12">PAUZA U I/II SMJENI</div>
              </DIV>
            <ul  class="col-12 tablepor d-flex justify-content-center align-items-center flex-wrap">
              <li class="row-lg d-block d-lg-flex col-12">
                <div class="col-lg-3 col-12"><b>tim I</b></div>
                <div class="col-lg-3 col-12">dr Goran Predojević</div>
                <div class="col-lg-3 col-12">MIlica Stević/Nemanja Elek</div>
                <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"><b>tim II</b></div>
                  <div class="col-lg-3 col-12">dr Dragoljub Đurić</div>
                  <div class="col-lg-3 col-12">Rada Stranatić/Radojka Stevanović</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"><b>tim III</b></div>
                  <div class="col-lg-3 col-12">dr Bojana Drobnjak</div>
                  <div class="col-lg-3 col-12">Jovanka Lukić</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim IV</b> </div>
                  <div class="col-lg-3 col-12">dr Slobodanka Simić</div>
                  <div class="col-lg-3 col-12">Rada</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim V</b> </div>
                  <div class="col-lg-3 col-12">dr Slobodan Burić</div>
                  <div class="col-lg-3 col-12">Jelena Mršić/Jovanka Martić</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"><b>tim VI</b> </div>
                  <div class="col-lg-3 col-12">dr Svjetlana Pantelić</div>
                  <div class="col-lg-3 col-12">Jasminka Kresoja</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12">  <b>tim VII</b> </div>
                  <div class="col-lg-3 col-12">dr Gordana Knežević</div>
                  <div class="col-lg-3 col-12">Snježana Đurić/Toda Alaković</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim VIII</b> </div>
                  <div class="col-lg-3 col-12">dr Božica Jović</div>
                  <div class="col-lg-3 col-12">Slažana Stojanović</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim IX</b> </div>
                  <div class="col-lg-3 col-12">dr Biljana Golemović</div>
                  <div class="col-lg-3 col-12">Mira Maksimović</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim X</b> </div>
                  <div class="col-lg-3 col-12">dr Dragan Elek</div>
                  <div class="col-lg-3 col-12">Silvester Mijatović/Novak Simić</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim XI</b> </div>
                  <div class="col-lg-3 col-12">dr Gordana Knežević</div>
                  <div class="col-lg-3 col-12">Snježana Purić</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim XII</b> </div>
                  <div class="col-lg-3 col-12">dr Radojka Savić</div>
                  <div class="col-lg-3 col-12">Vesna Stefanović</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim XIII</b> </div>
                  <div class="col-lg-3 col-12">dr Dragan Dragić</div>
                  <div class="col-lg-3 col-12">Snježana Đurić</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim XIV</b> </div>
                  <div class="col-lg-3 col-12">dr Dijana Haseljić</div>
                  <div class="col-lg-3 col-12">Danijela Grbić</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
              <li class="row-lg d-block d-lg-flex col-12">
                  <div class="col-lg-3 col-12"> <b>tim XV</b> </div>
                  <div class="col-lg-3 col-12">dr Srđan Davidović</div>
                  <div class="col-lg-3 col-12">Savo Despotović</div>
                  <div class="col-lg-3 col-12">pauza 10.00-10.30 (I smjena)<br>15.00-15.30 (II smjena)</div>
              </li>
            </ul>
          </div>
          <div class="prikaz"><a title="klikni za raspored po timovima" href="./FAJLOVI/raspored porodicna.docx"><b>prikaz detaljnog rasporeda</b></a></div>
        </div>
        
      </div>
      <div class="hitna d-flex flex-wrap justify-content-center align-items-center" id="hsluzba">
        <div class="opis d-flex flex-wrap justify-content-center align-items-center">
          <div class="hcentar d-flex flex-wrap justify-content-center align-items-center">
            <div class="hitnaback d-flex justify-content-center align-items-center px-3">
              <b>HITNA SLUŽBA</b>  &nbsp;&nbsp;<i class="fas fa-phone"></i>:<b>124</b>
            </div>
          </div>
        </div>
        <div class="ohitnoj d-block" ng-class="vise ? 'prosiri' : ''">
          <h3>O SLUŽBI HITNE MEDICINSKE POMOĆI</h3>
          <p>Služba hitne medicinske pomoći 24 časa dnevno pruža medicinsku pomoć vitalno ugroženim ili povrijeđenim pacijentima na području opštine Modriča i Vukosavlje. To je služba od posebnog društvenog značaja u redovnim i vanrednim situacijama.
    
              Poseban značaj hitne medicinske pomoći se ugleda u pružanju neophodne i neodložne medicinske intervencije onim pacijentima kojima bi se značajno ugrozilo zdravlje ili život u slučaju nepružanja medicinske pomoći.
              
              Hitna medicinska pomoć se pruža na mjestu nesreće/oboljevanja, u toku primarnog transporta i u službi hitne medicinske pomoći.
              
              Hitna pomoć zahtjeva timski rad, te zahtjeva koordinaciju svih članova tima, naročito u najurgentnijim stanjima koja zahtjevaju reanimaciju pacijenta. Tim sačinjava ljekar, dve medicinske sestre/tehničara i vozač sanitetskog vozila. Ljekar u službi hitne medicinske pomoći obavlja pregled, dijagnostičke postupke koji su mu na raspolaganju, određuje inicijalnu terapiju te, po potrebi upućuje pacijenta u zdravstvenu ustanovu višeg referalnog nivoa (Opšta bolnica „Sveti Apostol Luka“ Doboj). Ukoliko je pacijent životno ugrožen u jasno definisanim indikacijama transport pacijenta se vrši sanitetskim vozilom uz nadzor medicinskog tehničara.
          Služba hitne medicinske pomoći raspolaže EKG aparatom, monitorom za praćenje vitalnih parametara, defibrilatorom, aspiratorom, priborom za reanimaciju, setom za male hirurške intervencije, imobilizacionim sredstvima, inhalatorom, glukometrom, manometrom, stetoskopom, otoskopom, te opremom i lijekovima za parenteralnu upotrebu.</p>
         <p> Vozni park Službe hitne medicinske pomoći čini 4 sanitetska vozila sa medicinskom opremom za pružanje urgentne medicinske pomoći. Sanitetski prevoz se obavlja za: vitalno ugrožene pacijente po jasno definisanim indikacijama, potom prevoz nepokretnih pacijentata na kontrolne preglede, prevoz pacijenata iz Službe porodične medicine po nalogu porodičnog ljekara te prevoz pacijenata na hemodijalizu u Hemodijalizni centar Šamac.
    
              Služba obavlja i sanitetsko obezbjeđenje na sportskim, kulturnim, političkim i drugim masovnim manifestacijama gdje se očekuje prisustvo velikog broja ljudi.</p>
          <span class="float-right ml-auto">Dragan Elek, <br/> šef SHMP</span>
          
        </div>
        <button ng-click="vise=!vise"> <span ng-if="!vise">više</span>  <span ng-if="vise">manje</span> &nbsp; <i ng-hide="vise" class="fas fa-chevron-down"></i><i ng-show="vise" class="fas fa-chevron-up"></i></button>
      </div>
      <div class="hitnastanja">
        <span></span>
        <div class="stanje">
          <div class="divica"></div>
          <div class="doivica"></div>
          <h3>PRVI RED HITNOSTI</h3>
          <p>Sva stanja bez svijesti<br/>
    
            Prestanak disanja<br/>
            
            Odsustvo pulsa<br/>
            
            Naglo nastalo otežano disanje<br/>
            
            Naglo nastao jak bol u grudima<br/>
            
            Naglo nastao jak bol u trbuhu<br/>
            
            Naglo nastao neurološki deficit, jednostrana oduzetost ekstremiteta i nemogućnost govora<br/>
            
            Opsežna krvarenja iz velikih krvnih sudova
          </p>
        </div>
        <div class="stanje">
          <div class="divica"></div class="">
          <div class="doivica"></div>
          <h3>DRUGI RED HITNOSTI</h3>
          <P>Pogoršanja koja se odnose na sva hronična stanja po sistemima<br/>
    
            Hronična opstruktivna respiratorna oboljenja<br/>
    
            Hipertenzivna stanja<br/>
    
            Intenzivne glavobolje<br/>
    
            Psihijatrijska stanja<br/>
    
            Otvorene i zatvorene povrede bez izraženog poremećaja svijesti i bez kompromitovanog disanja<br/>
    
            Ostala stanja
          </P>
        </div>
        <div class="stanje">
          <div class="divica"></div>
          <div class="doivica"></div>
          
          <h3>TREĆI RED HITNOSTI</h3>
          <p>
            Lako oboljeli i povrijeđeni čija su oboljenja i povrede lakše prirode, ne remete vitalne funkcije i kod kojih nije potrebna hitna medicinska pomoć već se može odložiti prosleđivanjem nadležnom porodičnom ljekaru.
          </p>
        </div>
      </div>
      <div class="section2" id="sluzbe">
            <div class="sec2cardholder d-flex justify-content-center align-items-center flex-wrap">
              <div class="w-100 text-center sec2naslov"><h3>SLUŽBE DOMA ZDRAVLJA MODRIČA</h3><br/><h4>saznajte najvažnije informacije o ostalim službama u domu zdravlja</h4></div>
              <div class="d-block">
                <div class="redkartica d-flex flex-xl-nowrap flex-lg-wrap justify-content-center flex-wrap cardwrap">
                  <div class="sec2card d-block" ng-click="pokaziLab()">
                    <div class="img img1"></div>
                    <div class="txt p-3 d-block">
                      <h3 class="text-center" >LABORATORIJSKA DIJAGNOSTIKA</h3>
                      <div class="cover"></div>
                      <p>Laboratorija je savremeno opremljena služba, koja pruža usluge obavljanja brojnih analiza krvi, urina, stolice. Pokriva sve analize koje predviđa FZO, ali i one koje ne podliježu osiguranju. Pogledajte spisak analiza. </p>
                    </div>
                  </div>
                  <div class="sec2card d-block">
                    <div class="img img2"></div>
                    <div class="txt p-3 d-block">
                      <h3 class="text-center">SLUŽBA ZA RTG DIJAGNOSTIKU</h3>
                      <div class="cover"></div>
                      <p>Ova služba obavlja RTG snimanja kostiju, pluća, abdomena. Radi u jednoj smjeni od 7.00 do 19.00. Ovdje rade dva rendgen-tehničara. Za sada se snimci izrađuju na filmu, a u planu je digitalizacija RTG službe.</p>
                    </div>
                  </div>
                  <div class="sec2card d-block">
                    <div class="img img3"></div>
                    <div class="txt p-3 d-block">
                      <h3 class="text-center">Služba za ginekologiju</h3>
                      <div class="cover"></div>
                      <p><b>Ginekolozi:</b> dr Veljko Despotović, dr Goran Mlinarević<br/>
                        <b>Sestre akušerke:</b> <br/>
                        <b>Radno vrijeme:</b> 7.00-15.00<br/>
                        <b>Tel:</b> 065/017-830
                      </p>
                    </div>
                </div>
                </div>
                <div class="redkartica d-flex flex-xl-nowrap flex-lg-wrap justify-content-center flex-wrap cardwrap">
                  <div class="sec2card d-block" ng-click="pokaziStom()">
                    <div class="img img4"></div>
                    <div class="txt p-3 d-block">
                      <h3 class="text-center">SLUŽBA ZA STOMATOLOGIJU</h3>
                      <div class="cover"></div>
                      <p><b>stomatolozi:</b> dr Žana Tolj, dr Mišo Marjanović<br/>
                        <b>radno vrijeme:</b> prva (7.00-15.00), druga (11.00-19.00)<br/>
                        <b>tel:</b> - 066/698-143
                      </p>
                    </div>
                  </div>
                  <div class="sec2card d-block" ng-click="pokaziPed()">
                      <div class="img img5"></div>
                      <div class="txt p-3 d-block">
                        <h3 class="text-center">SLUŽBA ZA PEDIJATRIJU</h3>
                        <div class="cover"></div>
                        <p>
                          
                          <b>Pedijatri:</b> dr Boja Lugonja, dr Gordana Knežević<br/>
                          <b>radno vrijeme:</b> prva (7.00-15.00), druga (15.00-19.00)<br/>
                          <b>tel:</b> 053/813-674
                        </p>
                      </div>
                  </div>
                  <div class="sec2card d-block" ng-click="pokaziHes()">
                    <div class="img img6"></div>
                    <div class="txt p-3 d-block">
                      <h3 class="text-center">HIGIJENSKO-EPID- EMIOLOŠKA SLUŽBA</h3>
                      <div class="cover"></div>
                      <p>
                        U HESu se obavljaju poslovi iz oblasti epidemiologije, imunizacije, te sanitarni pregledi. <BR/>
                        <b>Epidemiolog:</b> dr Slobodanka Simić<br/>
                        <b>Sanitarni pregledi:</b> srijedom - prva (12.00-14.30), druga (15.30-18.00)<br/>
                        <b>tel:</b> 053/811-801
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="vaznidokumenti d-flex justify-content-center align-items-center flex-wrap" id="raspored">
        <div class="centriwrapper d-flex flex-wrap w-100 justify-content-xl-start justify-content-center align-items-center">
          <div class="vazno d-flex flex-wrap justify-content-center">
            <div class="naslov1">CENTRI</div>
            <div class="podnaslov1">DZ MODRIČA</div>
          </div>
          <div class="centricard d-block" ng-click='nema=!nema'>
            
            <div class="cbrimage"></div>
            <div class=" centriopis">
              <h3>CBR</h3>
              <p>centar za bazičnu rehabilitaciju</p>
            </div>
          </div>
          <div class="desniopis" ng-class="nema ? 'active' : ''">
            <p>
              Fizikalna medicina i rehabilitacija grana je medicine koja se bavi prevencijom, dijagnozom i liječenjem različitih poremećaja organizma, a pri tome se koristi fizikalnim metodama. Posebnu pozornost posvećuje ponovnoj uspostavi izgubljenih funkcija i sposobnosti (rehabilitacija) ili osposobljavanju ako te funkcije nikako nisu postojale (habilitacija). Fizijatrija se bavi cijelim nizom bolesti, neuroloških, mišićno-koštanih, kardiovaskularnih, plućnih do jednostavnih poremećaja pokretljivosti do kompleksnih kognitivnih poremećaja.
            </p>
            <button ng-click="pokaziCbr()">više</button>
          </div>
          <div class="centricard row-lg d-block d-lg-flex d-sm-flex d-md-flex">
              <div class="cmzimage"></div>
              <div class="centriopis">
                <h3>CMZ</h3>
                <p>centar za mentalno zdravlje</p>
              </div>
            </div>
        </div>
        <div class="d-flex w-100 flex-wrap justify-content-xl-end justify-content-center align-items-center" id="vazno">
          <div class="vazno d-flex  flex-wrap justify-content-center">
            <div class="naslov">VAŽNI</div>
            <div class="podnaslov">DOKUMENTI</div>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="./FAJLOVI/raspored porodicna.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>Raspored- porodična</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/cjenovnik lab.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>Cjenovnik usluga- LAB</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/brojevi telefona.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>Brojevi telefona službi</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/usluge-lab.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>usluge laboratorija</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/hitna stanja.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>hitna stanja- spisak</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/cjenovnik porodična.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>cjenovnik usluga-PM</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/cjenovnik zubno.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>Cjenovnik usluga- zubno</span>
            </a>
          </div>
          <div class="folder d-flex flex-wrap justify-content-center align-items-center">
            <a href="/FAJLOVI/raspored pedijatrija.docx">
              <div><i class="fas fa-file-word fa-7x"></i></div>
              <span>Raspored pedijatrija</span>
            </a>
          </div>
          <div class="iza"></div>
        </div>
        
          
      </div>
      <div class="szp d-flex justify-content-center align-items-center flex-wrap w-100 h-auto">
        <div class="szpnaslov d-block">
          <h3>SLUŽBA ZAJEDNIČKIH POSLOVA</h3>
        </div>
        <div class="cetiriwrapper d-flex flex-wrap justify-content-center align-items-start">
          <div class="d-block p-5 m-0 cetirisekcije">
            <p>Služba zajedničkih poslova je jedna od organizacionih jedinica JZU Dom zdravlja Modriča. Čini je nemedicinski kadar naše ustanove. Ova služba obezbjeđuje neophodnu stručnu i operativnu podršku za funkcionisanje ustanove. </p>
            
          </div>
          <div class="d-block p-5 m-0 cetirisekcije">
            <p>Služba zajedničkih poslova je organizovana za obavljanje administrativnih, pravnih, kadrovskih poslova, poslova informacionih tehnologija, poslova finansijskog i materijalnog knjigovodstva, obračuna zarada radnika, blagajničkog poslovanja i fakturisanja, poslova održavanja, grijanja, obezbjeđenja, transporta i poslova vešeraja i čišćenja.</p>
            
          </div>
          <div class="d-block p-5 m-0 cetirisekcije">
            <p> <h3><b>Službu zajedničkih poslova čine:</b></h3>  <br/>
    
              Odsijek za opšte, pravne i kadrovske poslove<br/>
              
              Odsijek za računovodstvo, finansije i knjigovodstvo<br/>
              
              Odsijek za uslužno tehničke poslove<br/>
              
              Odsijek za transport</p>
            
          </div>
        </div>
      </div>
      <div class="galerija w-100 d-flex justify-content-center" id="galerija">
        <div class="galerijawrapper d-flex justify-content-center align-items-center">
          <div class="imgcontainer d-flex justify-content-center flex-wrap">
            <div class="imgcircle img1"><a href="/resursi/gal1.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img2"><a href="/resursi/gal2.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img3"><a href="/resursi/gal3.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img4"><a href="/resursi/gal4.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img5"><a href="/resursi/gal5.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img6"><a href="/resursi/gal6.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img7"><a href="/resursi/gal7.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img8"><a href="/resursi/gal8.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img9"><a href="/resursi/gal9.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img10"><a href="/resursi/gal10.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img11"><a href="/resursi/gal11.jfif" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
            <div class="imgcircle img12"><a href="/resursi/gal12.jpg" target="_blank"><i class="fas fa-expand fa-2x"></i></a></div>
          </div>
        </div>
      </div>
        <!-- footer -->
        <footer class="w-100 d-flex flex-wrap justify-content-center" id="kontakt">
          <a href="https://www.facebook.com/jzudzmodrica/" target="_blank"><i class="fab fa-facebook facebook fa-3x"> </i></a>
          <div class="col-12 d-flex justify-content-center align-items-center mb-5 flex-wrap">
            <div class="m-1 d-flex align-items-center justify-content-center flex-xl-nowrap flex-lg-nowrap flex-wrap kontakt col-12">
              <div class="uprava col-lg-6 col-12 d-flex align-items-center justify-content-center flex-wrap">
                <div class="upravacard d-block">
                  <div class="slika slika1"></div><p>direktor <br/>Darko Stefanović</p>
                </div>
                <div class="upravacard d-block ">
                  <div class="slika slika2 "></div><p>sekretarica<br/>Gospava Starčević</p>
                </div>
                <div class="upravacard d-block">
                  <div class="slika slika3"></div><p>glavna sestra<br/>Sara Nijemčević</p>
                </div>
                <div class="radnouprava d-block">
                  <h3>RADNO VRIJEME UPRAVE</h3>
                  <p>7.00-15.00</p>
                </div>
              </div>
              
              <div class="d-flex lijevo align-items-center justify-content-center col-lg-6 col-12 flex-wrap">
                <div class="row d-flex justify-content-start ml-3 align-items-center w-100">
                  <h3><i class="fas fa-envelope-open"></i>:</h3>
                  <p>Svetosavska 15, 74480 Modriča</p>
                </div>
                <div class="row d-flex justify-content-start ml-3 align-items-center w-100">
                  <h3><i class="fas fa-phone-square"></i>:</h3>
                  <p>053.813.722, fax: 053/821-661</p>
                </div>
                <div class="row d-flex justify-content-start ml-3 align-items-center w-100">
                  <h3><i class="fas fa-at"></i>:</h3>
                  <p>dzmod1@teol.net</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 copyr d-flex justify-content-center align-items-center">
            Copyright DZ Modrica 2019.
            <div class="linkovifooter w-100 d-flex justify-content-end">
                <div class="linkbtn"> <a href="#onama">O NAMA</a> </div>
                <div class="linkbtn"> <a href="#porodicna">PORODIČNA</a> </div>
                <div class="linkbtn"> <a href="#hsluzba">HITNA SLUŽBA</a> </div>
                <div class="linkbtn"> <a href="#vazno">VAŽNI DOKUMENTI</a> </div>
                <div class="linkbtn"> <a href="laboratorija/index.html">E-NALAZ</a> </div>
                <div class="linkbtn"> <a href="#novosti">NOVOSTI</a> </div>
                <div class="linkbtn" ng-click="pokaziPat()">PATRONAŽNA SLUŽBA</div>
              </div>
            </div>                                                                                                                   
        </footer>
</div>