

.hitnastanja{
    width: 100%;
    min-height: 60vh;
    height: auto;
    position: relative;
    margin: 100px 0 100px 0;
    display: flex;
    align-items: center;
    @media  screen and  (max-width : 1200px){
        min-height: 80vh;
    }
    @media  screen and  (max-width : 800px){
        min-height: 90vh;
    }
    @media  screen and  (max-width : 900px) and (orientation : landscape){
        min-height: 200vh;
    }
    @media  screen and  (max-width : 380px){
        min-height: 110vh;
    }
    span{
        height: 100%;
        position: absolute;
        background: #888888;
        border-radius: 10px;
        width: 3px;
        left: 50%;
        top:0px;
        transform: translateX(-50%);
    }
    .stanje{
        width: auto;
        max-width: 650px;
        height: auto;
        position: absolute;
        left: 50%;
        padding: 20px;
        transform: translateX(-110%);
        top: 20px;
        background: rgba(255, 255, 255, 0.884);
        text-align: right;
        .divica{
            position: absolute !important;
            width: 1px;
            height: 100%;
            position: absolute;
            right: 0px !important;
            bottom: 0px;
            background-image: linear-gradient(to top, white, grey);
        }
        .doivica{
            position: absolute !important;
            width: 100%;
            height: 1px;
            position: absolute;
            right: 0px;
            top: 0px;
            background-image: linear-gradient(to right, white, grey);
        }
        
        @media  screen and  (max-width : 1200px){
            top:70px;
            transform: translateX(-50%);
            max-width: 500px;
            text-align: left !important;
            div{
                display: none;
            }
        }
        @media  screen and  (min-width : 1201px) and (max-width : 1600px){
            
            max-width: 500px;
        }
        @media  screen and  (max-width : 480px){
            top:70px;
            transform: translateX(-50%);
            width: 95vw !important;
        }
        h3{
            font-family: condensed;
            color: rgba(220, 20, 60, 0.678);
        }
        p{
            line-height: 1rem;
        }
        &::before{
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 10px;
            position: absolute;
            right: -10%;
            border-left: 3px solid #888888;
            border-top: 3px solid #888888;
            background: white;
            transform: translateX(50%) translateY(-20px) rotate(-45deg);
            @media  screen and  (max-width : 1200px){
                right: 50%;
                transform: translate(50%, -50px);
                border: 3px solid #888888;
            }
            
        }
        &:nth-of-type(2){
            top: 220px;
            transform: translateX(10%);
            text-align: left;
            
            @media  screen and  (max-width : 1200px){
                top: 400px;
                transform: translateX(-50%);
            }
            @media  screen and  (max-width : 380px){
                top:400px;
                transform: translateX(-50%);
                
            }
            h3{
                color: rgba(231, 179, 47, 0.747);
            }
            .divica{
                position: absolute !important;
                width: 1px;
                height: 100%;
                position: absolute;
                left: 0px !important;
                bottom: 0px;
                background-image: linear-gradient(to top, white, grey);
            }
            .doivica{
                position: absolute !important;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0px;
                top: 0px;
                background-image: linear-gradient(to left, white, grey);
            }
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 10px;
                position: absolute;
                border-right: 3px solid #888888;
                border-top: 3px solid #888888;
                border-left: 0px solid white;
                left: -10%;
                background: #ffffff;
                transform: translateX(-50%) translateY(-20px) rotate(45deg);
                @media  screen and  (max-width : 1200px){
                    left: 50%;
                    transform: translate(-50%, -50px);
                    border: 3px solid #888888;
                }
            }
        }
        &:nth-of-type(3){
            top: 420px;
            width: 650px;
            h3{
                color: rgba(85, 107, 47, 0.671);;
            }
            @media  screen and  (max-width : 1200px){
                top: 720px;
                transform: translateX(-50%);
            }
            @media  screen and  (max-width : 800px){
                top: 740px;
                transform: translateX(-50%);
            }
            @media  screen and  (max-width : 380px){
                top:750px;
                transform: translateX(-50%);
                
            }
            .divica{
                position: absolute !important;
                width: 1px;
                height: 100%;
                position: absolute;
                right: 0px !important;
                bottom: 0px;
                background-image: linear-gradient(to top, white, grey);
            }
            .doivica{
                position: absolute !important;
                width: 100%;
                height: 1px;
                position: absolute;
                right: 0px;
                top: 0px;
                background-image: linear-gradient(to right, white, grey);
            }
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 10px;
                position: absolute;
                border-left: 3px solid #888888;
                border-top: 3px solid #888888;
                right: -10%;
                background: white;
                transform: translateX(50%) translateY(-20px) rotate(-45deg);
                @media  screen and  (max-width : 1200px){
                    right: 50%;
                    transform: translate(50%, -50px);
                    border: 3px solid #888888;
                }
            }
        }
    }
}